body {
	color: #000000;
	font: 16px Tahoma, sans-serif;
	background-image: url('../images/background.jpg');
	background-color: #faf3d5;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}

header {
	background-color:#efd002;
}

input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}
input[type=submit] {
	color: rgb(0, 0, 0);
	background-color: #efd002;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}
p {
	margin: 20px 0;
}
#wrapper {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
	max-width: 960px;
	margin: auto;
}

header {
	padding: 20px 0;
}
.form__line {
	display: flex;
	justify-content: flex-end;
}
.form-line > label {
    flex: 1;
}
.form-line > input {
    flex: 2;
}