body {
	color: #000000;
	font: 16px Helvetica, sans-serif;
	background-image: url('../images/background.jpg');
	background-color: #faf3d5;
	border-top: 5px solid #7e7e7e;
	margin: 0;
}

header {
	display: -ms-inline-flexbox;
	padding: 10px 0;
	background-color: rgba(239,208,2,0.5);
	padding: 0px;
}

.logo {
	flex: 2;
}

a[type=exit] {
	flex: 1;
}

input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}
input[type=submit] {
	color: rgb(0, 0, 0);
	background-color: #efd002;
	border: none;
	height: 32px;
	font-family: 'Helvetica', sans-serif;
	margin: 0 auto;
	display: block;
}

p {
	margin: 20px 0;
}

.form__line {
	display: flex;
	justify-content: flex-end;
}
.form-line > label {
    flex: 1;
}
.form-line > input {
    flex: 2;
}

.btn.btn-outline-info {
	color: rgb(255, 255, 255);
	font: 12px 'Helvetica', sans-serif;
	font-weight: bold;
	background-color: #efd002;
	border: none;
	border-radius: 20px;
	padding: 0px;
	height: 35px;
	width: 30%;
	display: block;
	margin-left: auto;
    margin-right: auto;
}

.content-section {
	color: #ffffff;
	background: #575757ea;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 30px;
	width: 30%;
	height: 400px;
	margin: auto;
	margin-top: 10%;
}

h2.form-name {
	text-align: center;
	margin: auto;
	padding: 0 0 40px;
}

fieldset.form-group {
	border: none;
	padding: 0px 0px 30px;
}

#div_id_username.form-group {
	margin: auto;
	padding: 0px 0px 50px;
}

#div_id_password.form-group {
	margin: auto;
	padding: 0px 0px 50px;
}

label.requiredField {
	margin-left: 12%;
}

.textinput.textInput.form-control {
	background-color: #ffffff;
	border-radius: 5px;
	width: 75%;
	height: 30px;
	padding: 0px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}


