{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!doctype html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Матрица Ча</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
    <header><a href="index.html"><img src="{% static 'images/logo.png' %}" width="150" alt="Cha Matrix logo"></a></header>
	<div id="wrapper">
		<div id="heading"></div>
    <h2>Вы вышли из своей учетной записи</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Войти</a>
        </small>
    </div>
{% endblock content %}