{% load static %}
<!doctype html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Матрица Ча</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<header><a href="/home"><img src="{% static 'images/logo.png' %}" class='logo' width="150" alt="Cha Matrix logo"></a>
	<a href="{% url 'logout' %}" type="exit">Выход</a>
	</header>
	<div class="content-section">
		<h2 class="form-name">Введите данные о клиенте</h2>
	<br>
		<form method="POST">
		{% csrf_token %}
        <div>
		{% for field in form %}
		<div class="form-group">
			{{field.label_tag}}
			<div>{{field}}</div>
			<div class="error">{{field.errors}}</div>
		</div>
		{% endfor %}
		</div>
		<br>
		<input class="btn btn-outline-info" type="submit" name="generate" value="Рассчитать">
	</div>
	<footer></footer>
</body>
</html>